*{
    margin: 0%;
    padding: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}
html {
    box-sizing: border-box;
  }
  
body{
    margin: 0%;
    padding: 0%;
    background-color: #f7faf9;
}

/* Top-header */
.nav-bar{
    width: 1349x;
    height: 220px;
    background-color:#ffff;
    position: relative;
    overflow: hidden;
}
.nav-bar > * {
    position: absolute;
    left: 110px;
}
.Group-16 {
    width: 86px;
    height: 31px;
    object-fit: contain;
    position: absolute;
    top: 32px;
    
  }

  .welcome_back_user {
    width: 258px;
    height: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    position: absolute;
    top: 87px;
  }
.inner-nav{
    position: absolute;
    top: 59.5px;
    left: 1048px;
    text-decoration: none;
}
.inner-nav > ul{
    list-style-type: none;
    /* float: right; */
    display: inline;
}

.inner-nav > ul > li {
    display: inline-block;
    padding: 5px;
}
  .download-app {    
    width: 108px;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: right;
    color: #77898a;
  }

  .inner-nav > ul > li > a{
    text-decoration: none;
    color: inherit;
    text-decoration-color: none;
    text-decoration-style: none;
  }

  .log-out {
    width: 61px;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: right;
    color: #77898a;
  }

  .last-transaction {
    width: 537px;
    height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #344647;
    top: 126px;
    
  }
  
  .last-transaction .text-style-1 {
    font-weight: 600;
  }

  .user-navigation {
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #77898a;
    top:186px;
    text-decoration: none;
    text-decoration-style: none;
  }
  .user-navigation > a{
      color: #77898a;
      text-decoration: none;
      padding: 10px;
      margin-right: 40px;
  }

  .user-navigation > a.active,a:hover{
    color: #344647 ;
    border-bottom: solid;
    border-bottom-color: #344647;
  }
.gap{
    height: 70px;
}
  /* Boxes */
  .boxes{
      display: grid;
      grid-gap: 20px;
  grid-template-areas:
    'label1 label2'
    'expenditure profile'
    'label3 label4'
    'transaction faq'
    'label5 label6'
    'empty merchants';
    /* grid-template-columns: 2fr 1fr; */
    position: absolute;
    left: 110px;
    grid-column-gap: 50px;
    grid-row-gap: 68px;
  }
  .boxes > * {
    border-style: solid;
  }

  .expenditure{
      grid-area: expenditure;
        width: 516px;
        height: 188px;
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        background-color: red;
        display: flex;
        flex-direction: column;
  }
  .expenditure > ul.label > li {
      position: relative;
      top:24px;
      left:24px;
      list-style-type: none;
      display: inline;
  }
  
  .expenditure > ul.expense-display > li {
    position: relative;
    top:43px;
    left:35px;
    list-style-type: none;
    display: inline;
}
  .total-spent{
      text-align: left;
  }
.limit{
    margin-left: 250px;
}
.max-limit{
    margin-left: 300px;
}
  .profile{
    grid-area: profile;
    width: 515px;
    height: 517px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: yellow;
}

  .transaction{
    grid-area: transaction;
    width: 516px;
    height: 692px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color:blue;
    position: absolute;
    top:-271px;
      }
.faq{
    grid-area: faq;
    width: 516px;
    height: 224px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color:orangered;
}
.merchants{
    grid-area: merchants;
        width: 516px;
        height: 203px;
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        background-color: violet;
}
.box-label-exp {
    grid-area: label1;
    color: green;
    position: absolute;
    top:30px;
    display: block;
        width: 95px;
        height: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
  }
  .box-label-pro{
    grid-area: label2;
    color: green;
    position: absolute;
    top:30px;
        width: 57px;
        height: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
    
  }
  .box-label-tran{
    grid-area:label3;
    color: green;
    position: absolute;
    top:-250px;
        width: auto;
        height: 18px;
        font-family: SourceSansPro;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
  }
  .box-label-faq{
    grid-area: label4;
    color: green;
    position: absolute;
    top:30px;
        width: 207px;
        height: 18px;
        font-family: SourceSansPro;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
  }
  .box-label-empty{
    grid-area: label5;
    color: green;
    position: absolute;
    top:30px;
    /* display: block; */
  }
  .box-label-merch{
    grid-area: label6;
    color: green;
    position: absolute;
    top:30px;
        width: 207px;
        height: 18px;
        font-family: SourceSansPro;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
  }