*{
    margin: 0%;
    padding: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}
html {
    box-sizing: border-box;
  }
  
body{
    margin: 0%;
    padding: 0%;
    background-color: #f7faf9;
}
.flex_components{
    display: flex;
    flex-direction: column;
}
.flex_components>*{
    border-style: dashed;
}
/* Top-header */
.nav-bar{
    width: 1349x;
    height: 220px;
    background-color:#ffff;
    position: relative;
    overflow: hidden;
}
.nav-bar > * {
    position: absolute;
    left: 110px;
}
.Group-16 {
    width: 86px;
    height: 31px;
    object-fit: contain;
    position: absolute;
    top: 32px;
    
  }

  .welcome_back_user {
    width: 258px;
    height: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    position: absolute;
    top: 87px;
  }
.inner-nav{
    position: absolute;
    top: 59.5px;
    left: 1048px;
    text-decoration: none;
}
.inner-nav > ul{
    list-style-type: none;
    /* float: right; */
    display: inline;
}

.inner-nav > ul > li {
    display: inline-block;
    padding: 5px;
}
  .download-app {    
    width: 108px;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: right;
    color: #77898a;
  }

  .inner-nav > ul > li > a{
    text-decoration: none;
    color: inherit;
    text-decoration-color: none;
    text-decoration-style: none;
  }

  .log-out {
    width: 61px;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: right;
    color: #77898a;
  }

  .last-transaction {
    width: 537px;
    height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #344647;
    top: 126px;
    
  }
  
  .last-transaction .text-style-1 {
    font-weight: 600;
  }

  .user-navigation {
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #77898a;
    top:186px;
    text-decoration: none;
    text-decoration-style: none;
  }
  .user-navigation > a{
      color: #77898a;
      text-decoration: none;
      padding: 10px;
      margin-right: 40px;
  }

  .user-navigation > a.active,a:hover{
    color: #344647 ;
    border-bottom: solid;
    border-bottom-color: #344647;
  }
.gap{
    height: 70px;
}
  /* Boxes */
  .boxes{
      display: grid;
      grid-gap: 20px;
  grid-template-areas:
    'label1 label2'
    'expenditure profile'
    'label3 label4'
    'transaction faq'
    'label5 label6'
    'empty merchants';
    /* grid-template-columns: 2fr 1fr; */
    position: absolute;
    left: 110px;
    grid-column-gap: 50px;
    grid-row-gap: 68px;
  }
  /* .boxes > * {
    border-style: solid;
  } */

  .expenditure{
      grid-area: expenditure;
        width: 516px;
        height: 188px;
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
  }

  .expenditure > ul.label > li {
      position: relative;
      top:24px;
      left:24px;
      list-style-type: none;
      display: inline;
  }
  .progressbar-expense{
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    top: 32px;
    left: 24px;
  }
  .progressbar-expense::-webkit-progress-bar{
    width: 468px;
    height: 8px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #e6ebe9;
  
  }
  .progressbar-expense::-webkit-progress-value{
    width: 468px;
    height: 8px;
    width: 74.1px;
    height: 8px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 209, 193, 0.3);
    background-image: linear-gradient(to right, #00d1c1, #00d1dc);
  
  }
.expenditure > ul.expense-display > li {
    position: relative;
    top:24px;
    left:40px;
    list-style-image: url('../images/rupee-icon.png');
    float: left;
}
  .total-spent{
      text-align: left;
        width: 78px;
        height: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
  }
.limit{
        width: 102px;
        height: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #344647;
        margin-left: 250px;
}
.min-limit{
        width: 39px;
        height: 31px;
        font-family:  'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
}
.max-limit{
    margin-left: 310px;
        width: 51px;
        height: 31px;
        font-family:  'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #344647;
}
.pay-now{    
    position: relative;
    top:40px;
    left: 24px;
    width: 468px;
  height: 50px;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 209, 193, 0.3);
  background-image: linear-gradient(to right, #00d1c1, #00d1dc);
  font-family:  'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
  .profile{
    grid-area: profile;
    width: 515px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
}

.profile-name{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    margin-top: 24px;
    margin-left: 24px;
    height: auto;
}
.profile-device{
    margin-top: 29px;
    margin-left: 24px;
}
.profile-device > div > span > p {
        width: 137px;
        height: 20px;
        font-family:'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
}
.profile-device > div > p {
        width: 117px;
        height: 28px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
}
.profile-icon > .name{
        width: 81px;
        height: 25px;
        font-family:  'Source Sans Pro', sans-serif;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
}
.profile-icon > .message{
        width: 124px;
        height: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
        float: left;
}
.profile-icon > .score{
        width: 47px;
        height: 21px;
        border-radius: 4px;
        margin-left: 10px;
        border: solid 1px #77898a;
}
.separator-2 {
    position: relative;
    left: -24px;
    top: 5px;
    width: 514px;
    height: 1px;
    background-color: #e6ebe9;
    padding: 1px;
  }
.profile-transaction{
    margin-top: 24px;
    margin-left: 24px;
}
.profile-transaction > p {
        width: 125px;
        height: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
}
.pie-chart{
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
}
.pie{
    height: 100px;
    width: 100px;
}
.pie-legends{
    margin-left: 40px;
    margin-top: 10px;
}
.pie-legends > ul> li.food{
    color:#00d1c1;
}
.pie-legends > ul> li > p {
    font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #77898a;
}
.pie-legends > ul> li.pc{
    color:#ff9600;
}
.pie-legends > ul> li.clothes{
    color:#ff5950;
}
.pie-legends > ul> li.travel{
    color:#77898a;
}
.your-profile {
    margin-left: 40px;
    margin-top: 20px;  
    margin-bottom: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.your-profile > .messsage{
        width: 127.4px;
        height: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #00d1c1;
      }
.your-profile > .incomplete{
        width: 77px;
        height: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #ff5950;
      }


  .transaction{
    grid-area: transaction;
    width: 516px;
    height: 662px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    position: absolute;
    top:-271px;
    display: flex;
    flex-direction: column;
  }

.orders{
    height: 330px;
}
.orders > div {
    height: 60px;
}
.order-details > li {
    list-style: none;
    display: inline;
    position: relative;
    top:24px;
    left: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
.order-name,.order-price{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #344647;
}

.order-price{
    margin-left: 380px;
}
#bms > div > ul > .order-price {
    margin-left: 335px;   
}
#docsapp > div > ul > .order-price {
    margin-left: 365px;   
}
.order-date,.order-more{
    position: relative;
    top: 10px;
    width: 100px;
    width: 100px;
    height: 18px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #77898a;
}
.order-more{
    margin-left: 300px;
}
.successful-payment{
    display: flex;
    flex-direction: row;
    position: relative;
    top:20px;
    left:10px;
    width: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00d1c1;
}
/* .successful-payment > * {
    border-style: dashed;
} */
.message{
    flex-grow: 0.95;
    flex-shrink: 1;
}
#holachef > div > ul > li.order-price{
    margin-left: 370px;
}

.faq{
    grid-area: faq;
    width: 516px;
    height: 224px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color:#ffffff;
    display: flex;
    flex-direction: column;

}
.faq1{
    margin-top: 31px;
    margin-left: 24px;
        width: 292.9px;
        height: 20px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #00d1c1;
}
.seperator2 {
    width: 492px;
    height: 1px;
    background-color: #e6ebe9;
  }

.merchants{
    grid-area: merchants;
        width: 516px;
        height: 203px;
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
}
.merchants > .image-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    margin-top: 40px;
}
.image-icons > div > img {
    margin: 23px;
}
.image-icons > .bms-icon,.fm-icon,.fs-icon,.zomato-icon{
        width: 112px;
        height: 70px;
        border-radius: 4px;
        border: solid 1px #e6ebe9;
        background-color: #ffffff;
}
.icon-labels{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
}
.label1{
        width: 90px;
        height: 13px;
        /* font-family: SourceSansPro; */
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: #77898a;
}
.all-merchants{
        width: 250.5px;
        height: 20px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #00d1c1;
        margin-top: 5px;
        margin-left: 24px;
}
.box-label-exp {
    grid-area: label1;
    color: green;
    position: absolute;
    top:30px;
    display: block;
        width: 95px;
        height: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
  }
  .box-label-pro{
    grid-area: label2;
    color: green;
    position: absolute;
    top:30px;
        width: 57px;
        height: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
    
  }
  .box-label-tran{
    grid-area:label3;
    color: green;
    position: absolute;
    top:-250px;
        width: auto;
        height: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
  }
  .box-label-faq{
    grid-area: label4;
    color: green;
    position: absolute;
    top:30px;
        width: 207px;
        height: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
  }
  .box-label-empty{
    grid-area: label5;
    color: green;
    position: absolute;
    top:30px;
    /* display: block; */
  }
  .box-label-merch{
    grid-area: label6;
    color: green;
    position: absolute;
    top:30px;
        width: 207px;
        height: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
  }
  .bills{
        width: 516px;
        height: 143px;
        border-radius: 4px;
        background-color: #f7faf9;
        display: flex;
        flex-direction: column;
  }
  /* .bills > .bill-details > div {
      border-style: dashed;
  } */
  .bill-icon > div{
      position: absolute;
        width: 24px;
        height: 30px;
        object-fit: contain;
        box-shadow: 1 4px 8px 0 rgba(0, 209, 193, 0.3);
        }
  .bill-details{
      display: flex;
      flex-direction: row;
      position: relative;
      top:20px;
      left:-30px;
      justify-content: space-evenly;
  }
  .bill-message  > .message {
        width: 159px;
        height: 23px;
        font-family:'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
        font-weight: bold;
  }
  .bill-message > .date{
        width: 373px;
        height: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #77898a;
  }
  .line {
      position: relative;
      top: 35px;
      left: 62px;
    width: 370px;
    height: 2px;
    border: solid 1px #e6ebe9;
  }
 .pay-now-btn{
    position: relative;
    top:50px;
    left: 62px;
 }
  .pay-now-btn > .pay-btn {
        
        width: 71px;
        height: 24px;
        margin-right: 10px;
        border-radius: 4px;
        box-shadow: 1 2px 4px 0 rgba(0, 209, 193, 0.3);
        background-color: #00d1c1;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
  }
.pay-now-btn > p{
        display: inline;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #344647;
      }
#refund > div > ul > li.order-price{
    margin-left: 360px;
}

#freshmenu > div > ul > li.order-price{
    margin-left: 360px; 
}
.separator {
    position: relative;
    top: 55px;
    width: 516px;
    height: 1px;
    background-color: #e6ebe9;
  }

.see-more-transactions{
        position: relative;
        top: 65px;
        left: 25px;
        width: 153px;
        height: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #00d1c1;
}
.see-more-transactions > a {
    text-decoration: none;
    color: inherit;
}

.widget {
    margin: 0 auto;
    width:350px;
    margin-top:50px;
    background-color: #222D3A;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #06060d;

}

.header{
    background-color: #29384D;
    height:40px;
    color:#929DAF;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 1px 1px #06060d;
}
.footer{
        position: relative;
        top:1250px;
        width: 1349px;
        height: 541px;
        background-color: #f2f6f4;
        display: flex;
        flex-direction: column;
}
.links{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    margin-left: 50px;
    justify-content: space-around;
}
.simpl-icon > p {
        width: 329px;
        height: 36px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #77898a;
        margin: 10px;
}
.simpl-text{
        width: auto;
        height: 18px;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77898a;
        margin-bottom: 15px;
}
.simpl-items{
        width: auto;
        height: 20px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #77898a;
        margin: 15px 0px 15px 0px;

}

.address{
    margin-top: 100px;
    margin-left: 110px;
        width: 457px;
        height: 48px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #77898a;
}
.trademark{
    margin-top: 26px;
    margin-left: 110px;
        width: 582px;
        height: 32px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #77898a;

}
/* .links>* {
    border-style: dashed;
} */




